body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
}

input, select, textarea {
    padding: 10px 20px;
    color: #5E6278;
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
}
input::placeholder {
    color: #787c8e;
}
input:focus, select:focus, textarea:focus {
    background-color: #F4F4F4;
    border: 1px solid #F4F4F4;
    outline: none;
}
input[type=file] {
    cursor: pointer;
}

h2 {
    margin: 0;
}

#app {
    height: 100vh;
}

#sidebar {
    width: 140px;
    flex-direction: column;
}

#logo-container {
    height: 120px;
    justify-content: center;
}
#logo-container img {
    width: 64px;
}

nav ul#main-menu {
    list-style: none;
    padding: 0;
}

nav ul#main-menu li {
    height: 87px;
    text-align: center;
    
}
nav ul#main-menu li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
nav ul#main-menu li i {
    margin: 5px 0;
}

form label {
    font-size: small;
    padding: 5px 0;
}

form > div {
    padding: 10px 0;
}

#topbar {
    flex-direction: column;
    height: 105px;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
}

#user-menu {
    height: 65px;
    width: 100%;
    border-bottom: 1px solid #F4F4F4;;
}

#title {
    display: flex;
    align-items: center;
    padding: 5px 30px;
}

#content {
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
}

.card-actions {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 30px 30px 0 30px;
}
.card-content {
    padding: 10px 30px 30px 30px;
}

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.justify-between {
    justify-content: space-between;    
}
.justify-end {
    justify-content: end;
}
.gap-1{
    gap: 10px;
}
.w-full {
    width: 100%;
}
.bg-dark-blue {
    background-color: #1E1E2D;
}
.font-bold{
    font-weight: 600;
} 
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.btn {
    padding: 10px 20px;
    background: none;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
a.btn {
    padding: 5px 20px;
}

.btn-primary {
    background-color: #009ef7;
    color: #fff;
}
.btn-primary:hover {
    background-color: #0095e8;
}
.btn-danger {
    background-color: #f1416c;
    color: #fff;
}
.btn-danger:hover {
    background-color: #e23661;
    color: #fff;
}

.badge {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: small;
}

.badge-success {
    background-color: #e8fff3;
    color: #50cd89;
}

.badge-danger {
    background-color: #fff5f8;
    color: #f1416c;
}

.table {
    border: 0;
    width: 100%;
}

.table thead {
    text-transform: uppercase;
    color: #b3b3b3;
    font-size: 12px;
}
.table thead tr th {
    padding: 20px 0;
}

.table tbody tr td {
    padding: 20px 0;
    color: #787c8e;
    border-top: 1px dotted #e3e3e3;
}
.table tbody tr td:first-child {
    color: #5E6278;
    font-weight: 600;
}

.lds-ellipsis {
    display: none;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 15px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 4px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 4px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 16px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 28px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(12px, 0);
    }
  }